@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 200ms linear !important;
}

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-31: 31px;
    --font-size-35: 35px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-48: 48px;
    --font-size-64: 64px;

    --color-orange: #FF5300;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: #FFFFFF;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;
    --color-light-blue: #00ACFF;

}

.container {
    max-width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 7;
    box-shadow: 0px 4px 35px 0px #00000014;
    padding: 10px 0;
    background-color: var(--color-white);
}

.d-flex {
    display: flex;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.digi-font {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    color: var(--color-orange);
}

.ency-font {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    color: var(--color-grey);
}

.gap-38 {
    gap: 38px;
}

.d-none {
    display: none;
}

.nav-fonts {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-grey);
    position: relative;
}

.nav-fonts:hover {
    color: var(--color-orange);
}

.nav-fonts::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF5300;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-fonts:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}


.pt-176 {
    padding-top: 176px;
}

.pt-11 {
    padding-top: 11px;
}

.mt-50 {
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

.pb-153 {
    padding-bottom: 153px;
}

.pt-120 {
    padding-top: 120px;
}

.text-wrap {
    text-wrap: nowrap;
}

.display-block {
    display: block;
}

.bg-color-1 {
    background-color: var(--color-light-pink);
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

.gap-5 {
    gap: 5px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.pt-83 {
    padding-top: 83px;
}

.sec-1-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--color-grey);
    max-width: 440px;
}

.sec-1-span {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--color-orange);
}

.sec-1-para {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-light-grey);
    max-width: 493px;
}

.contact-btn {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    padding: 13px 19px;
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    color: var(--color-orange);
    text-shadow: 2px 2px 4px rgba(241, 93, 8, 0.5);
}

.svg-box {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    cursor: pointer;
    box-shadow: 0px -4px 58px 12px #0000001a;
}

.svg-box:hover {
    background-color: var(--color-orange);
}

.svg-box:hover span path {
    fill: var(--color-white);
}

.svg-main-box {
    right: -20%;
    top: 35%;
    gap: 3px;
}

.section-1:hover .svg-main-box {
    right: 0;
}

.svg-main-box-2 {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    gap: 3px;
}

.box-shadow-2:hover .svg-main-box-2 {
    right: 0;
}

.sec-2-para-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-light-grey);
}

.sec-2-head-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    max-width: 494px !important;
}

.sec-2-head-span {
    color: var(--color-orange);
}

.d-block {
    display: block;
}

.mt-20 {
    margin-top: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.sec-2-para-2 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-light-grey);
    max-width: 515px;
}

.sec-2-para-3 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-light-grey);
    max-width: 480px;
}

.span-circle {
    height: 70px;
    width: 70px;
    background-color: var(--color-orange);
    border-radius: 50px;
    box-shadow: 4px 5px 15px 0px #FF530066;
}


.world-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    max-width: 206px;
}

.box-b {
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-b:hover span svg path {
    fill: var(--color-orange);
}

.box-b:hover .span-circle {
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);
}

.box-b:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pt-36 {
    padding-top: 36px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pt-60 {
    padding-top: 60px;
}

.span-circle-b {
    height: 70px;
    width: 70px;
    background-color: #7B7B7B;
    border-radius: 50px;
    box-shadow: 4px 5px 15px 0px #7B7B7B;
}

.box-b:hover .span-circle-b {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
}

.box-b:hover .span-circle-b span svg path {
    fill: var(--color-light-grey);
}

.span-circle-c {
    height: 70px;
    width: 70px;
    background-color: #00ACFF;
    border-radius: 50px;
    box-shadow: 4px 5px 15px 0px #00ACFF;
}

.box-b:hover .span-circle-c {
    background-color: var(--color-white);
    border: 1px solid #00ACFF;
}

.box-b:hover .span-circle-c span svg path {
    fill: #00ACFF;
}

.span-circle-d {
    height: 70px;
    width: 70px;
    background-color: #373737;
    border-radius: 50px;
    box-shadow: 4px 5px 15px 0px #373737;
}

.box-b:hover .span-circle-d {
    background-color: var(--color-white);
    border: 1px solid #373737;
}

.box-b:hover .span-circle-d span svg path {
    fill: #373737;
}


.sec-3-span-txt {
    color: var(--color-orange);
}

.sec-3-heading {
    font-family: " Work Sans", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
}

.sec-3-para-2-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-light-grey);
    max-width: 513px;
}

.sec-3-para-3-txt {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-light-grey);
}

.mt-18 {
    margin-top: 18px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-83 {
    margin-top: 83px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-25 {
    margin-top: 25px;
}

.global-box {
    background-color: var(--color-white);
    padding: 74px 51px;

}

.global-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
}

.global-txt-1 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    text-align: left;
    color: var(--color-light-grey);
}

.team-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-light-grey);
    text-align: center;
}

.heading-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
}

.sec-3-txt-span {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    color: var(--color-orange);
}

.gustavo-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
}

.types-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--color-light-grey);
}

.mt-24 {
    margin-top: 24px;
}

.mb-12 {
    margin-bottom: 12px;
}

.pb-15 {
    padding-bottom: 15px;
}

.box-shadow-2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sec-4-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--color-light-grey);
}

.sec-4-h2 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
}

.sec-4-h2-span {
    color: var(--color-orange);
}

.gap-43 {
    gap: 43px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-188 {
    padding-top: 188px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-18 {
    padding-bottom: 18px;
}

.pb-47 {
    padding-bottom: 47px;
}

.pb-120 {
    padding-bottom: 120px;
}

.sec-4-scroll-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    cursor: pointer;
    color: var(--color-light-grey);
}

.sec-4-scroll-txt:hover {
    color: var(--color-orange);
}

.layer-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 30.9px;
    text-align: left;
    color: var(--color-white);
}

.layer-txt-2 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    text-align: left;
    line-height: 24.1px;
    color: var(--color-white);
}

.orange-layer {
    width: 100%;
    height: 100%;
    background-color: var(--color-orange);
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    position: absolute;
    opacity: 70%;
}

.orange-layer-div-1:hover .orange-layer {
    top: 2.2%;
    left: 2.5%;

}

.h-100 {
    height: 100%;
}

.pb-25 {
    padding-bottom: 25px;
}

.mt-7 {
    margin-top: 7px;
}

.mb-23 {
    margin-bottom: 23px;
}

.mb-125 {
    margin-bottom: 125px;
}

.pb-60 {
    padding-bottom: 60px;
}

.orange-layer-div-2:hover .orange-layer {
    top: 2%;
    left: 2%;
}

.clients-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--color-light-grey);
}

.some-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
}

.great-txt {
    color: var(--color-orange);
}

.justin-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--color-white);
}

.ceo-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.slide-box {
    background-color: var(--color-orange);
    max-width: 470px;
    padding: 34px 35px 25px 65px;
}

.slide-para-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.slider-pf-img-1 {
    top: 12%;
    left: -8%;
}

.slick-dots li.slick-active button:before {
    opacity: 0;
}

.slick-dots li.slick-active {
    background-color: var(--color-grey);
    width: 49px;
    height: 15px;
    border-radius: 7.5px;
    z-index: 5;
    position: relative;
    opacity: 100;
}

.slick-dots li button::before,
.slick-dots li,
slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: var(--color-orange);
    opacity: 100%;
    border-radius: 50px;
    font-size: 0;
    transition: all 0.4s linear;
}

.slick-dots {
    bottom: -60px !important;
}

.slick-prev,
.slick-next {
    display: none;
}

.sec-6h2-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;

}

.sec-6h2-span {
    color: var(--color-orange);
}

.sec-6-para {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--color-light-grey);
}

.graphic-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-orange);
}

.stellar-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 30.9px;
    max-width: 306px;
    color: var(--color-grey);
}

.wester-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-grey);
}

.january-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-light-grey);
}

.dot-circle {
    width: 5px;
    height: 5px;
    background-color: var(--color-light-grey);
    border-radius: 50px;
}

.gap-10 {
    gap: 10px;
}

.gap-8 {
    gap: 8px;
}

.gap-70 {
    gap: 70px;
}

.py-25 {
    padding: 25px;
}

.gap-18 {
    gap: 18px;
}

.mt-38 {
    margin-top: 38px;
}

.gap-18 {
    gap: 18px;
}

.mb-44 {
    margin-bottom: 40px;
}

.slider-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.slick-list {
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-us-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--color-light-grey);
}

.feel-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: center;
}

.feel-txt-org {
    color: var(--color-orange);
}

.circle-5 {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: var(--color-orange);
}

.drop-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-25);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--color-orange);
}

.mail-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-31);
    font-weight: 600;
    line-height: 38.62px;
    color: var(--color-grey);
}

.support-gmail {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-light-grey);
}

.support-gmail-2 {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-light-grey);
}

.box-5 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    height: 230px;
}

.box-5:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tollfree-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-orange);
}

.slick-slide {
    margin-right: 30px;
}

.send-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-31);
    font-weight: 600;
    line-height: 38.62px;
}

.message-txt {
    color: var(--color-orange);
}

.w-50 {
    width: 50%;
}

.mt-18 {
    margin-top: 18px;
}

.mb-29 {
    margin-bottom: -29px;
}

.mt-123 {
    margin-top: 123px;
}

.mt-29 {
    margin-top: 29px;
}

.send-message {
    resize: none;
    border: none;
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 18px;
    outline: none;
    color: var(--color-light-grey);
}

.name-holder {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    border: none;
    outline: none;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: var(--color-light-grey);
}

.send-message-btn {
    padding: 13px 25px;
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 24.72px;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    cursor: pointer;
}

.send-message-btn:hover {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    color: var(--color-orange);
}

#canvas-for-googlemap img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}

.google-map {
    max-width: 100%;
    list-style: none;
    transition: none;
    overflow: hidden;
    width: 1170px;
    height: 450px;
}

/* ------------------- */

.bg-grey {
    background: var(--color-grey);
}

.pb-30 {
    padding-bottom: 30px;
}

.gap-15 {
    gap: 15px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-10 {
    margin-top: 10px;
}

.pt-66 {
    padding-top: 66px;
}

/* --- */
.digi-foot {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    color: var(--color-orange);
}

.ency-foot {
    font-family: " Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
    color: var(--color-white);
}

.svg-box-footer {
    width: 40px;
    height: 40px;
    background: var(--color-white);
}

.svg-box-footer:hover span path {
    fill: var(--color-white);
}

.svg-box-footer:hover {
    background-color: var(--color-orange);
}

.footer-font-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-39);
    font-weight: 600;
    line-height: 48.28px;
    color: var(--color-white);
}

.footer-font-2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-white);
    max-width: 293px;
}

.slick-next:before {
    display: none !important;
    content: none;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

.slick-next:before {
    display: none !important;
    content: none;
}

.input-footer {
    outline: none;
    border: none;
    padding: 18px;
    background: transparent;
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-light-grey);
    width: 100%;
}

.footer-email {
    border: 1px solid var(--color-orange);
}

.search-icon {
    border: none;
    padding: 12px 23px 12px 24px;
    background-color: var(--color-orange);
    cursor: pointer;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-80 {
    width: 80%;
}

.svg-box-footer .d-flex {
    width: 18px;
}

.bottomline {
    background-color: var(--color-orange);
    padding: 10px 0;
}

.copyright {
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-white);
}

.justify-content-start {
    justify-content: start;
}

#myBtn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 4;
    width: 50px;
    display: none;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FF5300;
    animation: myBtn 5s infinite;
}

#myBtn:hover {
    background-color: #FF5300;
}

#myBtn:hover path {
    fill: white;
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

.w-75 {
    width: 75%;
}

.gap-30 {
    gap: 30px;
}

.overflow-auto {
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width:1200px) {
    .nav-menu {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 4;
        display: flex;
    }

    .nav-menu span {
        height: 4px;
        width: 100%;
        background-color: #3F3D56;
        border-radius: 3px;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: -100%;
        position: fixed;
        background: #FFFFFF;
        z-index: 3;
        transition: all 300ms linear;
        top: 0;
    }

    .show {
        left: 0;
    }
}

@media (max-width:992px) {
    .box-b {
        padding: 17px;
    }

    .lg-w-100 {
        width: 100%;
    }

    .stellar-txt {
        font-size: var(--font-size-20);
        font-weight: 500;
        line-height: 24.72px;
        text-align: left;
        max-width: 217px;
    }

    .lg-w-75 {
        width: 75%;
    }

    .support-gmail {
        font-size: var(--font-size-18);
    }

    .drop-txt {
        font-size: var(--font-size-18);
    }

    .mail-txt {
        font-size: var(--font-size-25);
    }

    .tollfree-txt {
        font-size: var(--font-size-12);
    }

    .footer-font-1 {
        font-size: var(--font-size-25);
    }

    .global-txt {
        font-size: var(--font-size-25);
    }

    .global-txt-1 {
        font-size: var(--font-size-16);
        text-align: center;
        margin-top: 15px;
    }

    .global-box {
        padding: 50px 15px;
    }

    .mt-115 {
        margin-top: 115px;
    }

    .mt-80 {
        margin-top: 80px;
    }

    .sec-3-heading {
        font-size: var(--font-size-31);
        width: 332px;
    }
}

@media (max-width:768px) {
    .md-col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-d-none {
        display: none;
    }

    .md-mt-24 {
        margin-top: 24px;
    }

    .md-w-75 {
        width: 75%;
    }

    .box-b {
        padding: 20px;
    }
}

@media (max-width:576px) {
    .sm-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-flex-direction-column-reverse {
        flex-direction: column-reverse;
    }

    .sm-flex-direction-column {
        flex-direction: column;
    }

    .sm-d-flex {
        display: flex;
    }

    .sm-mt-40 {
        margin-top: 40px;
    }

    .sm-gap-10 {
        gap: 10px;
    }

    .sec-1-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-31);
        font-weight: 600;
        line-height: 38.62px;
        text-align: center;
    }

    .sec-1-span {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-31);
        font-weight: 600;
        line-height: 38.62px;
        text-align: center;
        width: 406px;
    }

    .sec-2-head-1 {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .sec-2-para-2 {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: center;
    }

    .sec-3-heading {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
        width: 255px;
    }

    .sec-2-para-3 {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: center !important;
    }

    .sm-pt-50 {
        padding-top: 50px;
    }

    .sm-pb-50 {
        padding-bottom: 50px;
    }

    .sm-mt-50 {
        margin-top: 50px;
    }

    .sm-mt-18 {
        margin-top: 18px;
    }

    .sm-mt-25 {
        margin-top: 25px;
    }

    .sm-col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-pb-0 {
        padding-bottom: 0;
    }

    .sm-mb-50 {
        margin-bottom: 50px;
    }

    .heading-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .sec-3-para-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: center;
        color: var(--color-light-grey);
    }

    .sec-3-para-2-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: center;
    }

    .sec-3-para-3-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: center;
    }

    .sec-3-txt-span {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .sm-d-none {
        display: none;
    }

    .sec-4-h2 {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .sec-4-scroll-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    }

    .some-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
        width: 265px;
    }

    .great-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .sm-ml-19 {
        margin-left: 19px;
    }

    .sec-6h2-txt {
        font-family: " Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .feel-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
    }

    .send-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-25);
        font-weight: 500;
        line-height: 30.9px;
        text-align: center;
        width: 180px;
    }

    .sm-w-100 {
        width: 100%;
    }

    .stellar-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    }

    .wester-txt {
        font-family: " Work Sans", sans-serif;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 24.1px;
    }

    .january-txt {
        font-family: "Work Sans", sans-serif;
        font-size: var(--font-size-12);
        font-weight: 400;
        line-height: 15.82px;
    }
}